@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-blue: #245b8b;
  --white: #fff;
  --dark-blue: #1e3653;
  --orange: #e1a730;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
